:root {
  font-size: 18px;
}

body {
  height: 2000px;
}

.right,
.wrong {
  background-color: rgb(119, 228, 174);
  border-radius: 4px;
  padding: 11px 8px 8px;
}

.wrong {
  background-color: pink;
}

.hanging-punctuation {
  hanging-punctuation: first;
}

blockquote {
  font-style: italic;
}

blockquote::before {
  content: "“";
}

blockquote::after {
  content: "”";
}

#working-with-the-font-shortcut {
  font-style: italic;
  font-variant: small-caps;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: Poppins, sans-serif;

  font: italic small-caps 100 1.2rem / 1.4 Poppins, sans-serif;

  font: 1.2rem Poppins; /* Correct, because it has a font-size and a font-family */
}
