$color--primary: #222;
$color--secondary: #abcdef;
$color--tertiary: #bada55;

body {
  background-color: $color--secondary;
}

// a:link {
//   text-decoration: none;
// }

// a:visited {
//   color: red;
// }

// a:hover {
//   color: white;
// }

// a:active {
//   color: transparent;
// }

a {
  &:link {
    text-decoration: none;
  }

  &:visited {
    color: red;
  }

  &:hover {
    color: white;
  }

  &:active {
    color: transparent;
  }
}
