@import 'variables';

body {
  margin: auto;
  width: $width--body;
  color: $color--text;
  font-family: $font-stack--text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack--heads;
}

p {
  span {
    float: left;
    font: {
      style: italic;
      weight: 700;
    }

    width: 180px;
    margin: 6px 14px 4px -40px;

    &::before {
      content: "“";
    }

    &::after {
      content: "”";
    }
  }
}
