.cards-container {
  display: flex;
  justify-content: space-between;
}

.cards-container > div {
  width: calc(3 * var(--grid-unit));
}

.cards-container > div > a {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.cards-container > div > a > p {
  text-align: center;
  font-style: italic;
}
