a:link {
  text-decoration: none;
  transition: 350ms;
}

.cards-container a:link {
  color: var(--link-color);
}

.cards-container a:visited {
  color: var(--link-color);
}

.cards-container a:hover {
  color: var(--link-color);
  border-top-right-radius: var(--common-radius);
  border-bottom-right-radius: var(--common-radius);
  border-bottom-left-radius: var(--common-radius);
  box-shadow: 4px 4px 4px var(--font-awesome-icon-color);
}

.cards-container a:active {
  color: var(--link-color);
}
