:root {
  --grid-column: 60px;
  --grid-gutter: 20px;
  --grid-unit: calc(var(--grid-column) + var(--grid-gutter));

  /* Font weights */
  --light: 300;
  --medium: 500;
  --bold: 700;

  --vertical-padding: 12px;
  --general-padding: 20px;

  --primary-color: #333;
  --font-awesome-icon-color: #b7859c;
  --link-color: #2f4f4f;

  --common-radius: 10px;
}
